<div class="container">

  <app-header></app-header>

  <br><br>
  <app-new-employee></app-new-employee>

  <br><br>



  <router-outlet></router-outlet>

  <!-- Observable Demo -->
  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- Pipe demo -->
  <!-- <app-pipe-demo></app-pipe-demo> -->


  <!-- Dynamic Component / Aloert box -->
  <!-- <button class="btn btn-primary" (click) = "onShowAlert()">Show Alert</button>

  <ng-template appPlaceholder></ng-template> -->


  <!-- Alert box on button click -->
  <!-- <button class="btn btn-primary" (click) = "showAlert = true">Show Alert</button>
    <app-alert *ngIf="showAlert" [message]="'This is awesome alert!'" (onAlertClose)="showAlert = false"></app-alert> -->

  <!-- Customized component from NPM Library -->
  <!-- <lib-customized [headerTempl]="headerTempl"
    (toTheParent) = "fromChild($event)"></lib-customized> -->
  <!-- <ng-template #headerTempl>
      <h3>This is customed Header!</h3>
    </ng-template> -->

  <!-- Modify @Input() property in child for ngOnChanges() Demo -->
  <!-- <input type="text" [(ngModel)] = "title"> -->

  <!-- <app-user [title]="title"></app-user> -->
</div>
