<h3>User Loaded Successfully!</h3>

<ul class="list-unstyled">
  <li class="card card-body">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <!-- User image -->
        <app-user-image [user] = "user"></app-user-image>

      </div>
      <div class="col-sm-9 col-md-9">

        <!-- User Details -->

        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <p>Date of Birth : <span [innerHTML]="user.dob"></span></p>
        <p>Income : {{ user.income }}</p>

        <p>
          Total Votes : {{ user.votes }}
          <input type="number" [value]="user.votes"
            (change) = "user.votes = $event.target.value">
            <input type="number" [(ngModel)] = "user.votes">
        </p>


      </div>
    </div>
  </li>
</ul>
