<!-- <h3>{{ text }}</h3> -->
<h3>{{ title }}</h3>

<ul class="list-unstyled">
  <li class="card card-body" *ngFor="let user of users; index as i; first as isfirst; odd as isOdd;">

    <div class="container">
      Index : {{ i}} <br>
      Is this First : {{ isfirst }} <br>
      Is this Odd : {{ isOdd }}
    </div>

    <div class="row">
      <div class="col-sm-3 col-md-3">
        <!-- User image -->
        <app-user-image [user] = "user"
          (textChild) = "onChildText($event)"
          (childEvent)="onMoreInfo($event)"></app-user-image>
      </div>
      <div class="col-sm-9 col-md-9">
        <!-- User Details -->
        <app-user-detail [user]="user" [text]="text">
          <header>Header Info</header>
          <main>Main Section {{ text }}</main>
          <footer>Footer Info</footer>
        </app-user-detail>
      </div>
    </div>
  </li>
</ul>
