<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light">

<ul class="navbar-nav">
  <li class="nav-link">
    <a class="nav-item" [routerLink]="['user']">User</a>
  </li>
  <li class="nav-link">
    <a class="nav-item" [routerLink]="['pipe']">Pipe</a>
  </li>
  <li class="nav-link">
    <a class="nav-item" [routerLink]="['observable']">Observable</a>
  </li>
  <li class="nav-link">
    <a class="nav-item" [routerLink]="['product']">Product</a>
  </li>
  <li class="nav-link">
    <a class="nav-item" [routerLink]="['lazy']">Lazy</a>
  </li>
</ul>
</nav>
